{% extends "base.html" %}

{% block content %}
{% load static %}
<section>
    <h2 id="tagline">Upcoming Events</h2>
    <div class="container">
        <div class="row level1-container">
            {% if messages %}
            <div class="col-md-12">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% for event in event_list %}
            <div class="col-md-3">
                <div class="flip-card-container">
                    {{event.title}}
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front-custom img">
                                <img src="{{ event.image.url }}" alt="{{ event.title }}">
                            </div>
                            <div class="flip-card-back">
                                <div id="flip-card-back-{{ forloop.counter }}">
                                    <h3>{{ event.title }}</h3>
                                    <p>Date: {{ event.date }}</p>
                                    <p>Time: {{ event.time }}</p>
                                    <p>Location: {{ event.location }}</p>
                                    <p>Description: {{ event.description }}</p>
                                    <p>Speaker: {{ event.speaker }}</p>
                                    <a href="{% url 'event_detail' event.slug %}" class="btn btn-primary">View
                                        Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block extras %}
{{ block.super }}
<!-- Additional scripts specific to event_list.html -->
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}