/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Julius', sans-serif;
}

/* Global Styles */
body {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 500;
    color: #070707;
    background-color: dodgerblue;
}

.brand {
    font-size: 1.4rem;
    font-weight: 400;
    color: #0e0e18;
}

/* Flexbox structure for flip cards */
.level1-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.level1-ideals-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

.level1-ideals-container>div,
.level2-ideals-container>div {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
}

/* Set dimensions and perspective for flip cards */
.flip-card-custom {
    background-color: transparent;
    width: 20rem;
    height: 20rem;
    perspective: 1000px;
    margin-bottom: 20px;
}

/* Container for front and back sides of flip card */
.flip-card-inner-custom {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Flip the card horizontally on hover */
.flip-card-custom:hover .flip-card-inner-custom {
    transform: rotateY(180deg);
}

/* Front and back sides of the flip card */
.flip-card-front-custom,
.flip-card-back-custom {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Styling for the front side (fallback if image is missing) */
.flip-card-front-custom {
    background-color: var(--offwhite);
}

.flip-card-front-custom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styling for the back side of the flip cards */
.flip-card-back-custom {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.flip-card-back-custom p {
    text-align: left;
    font-size: large;
    font-weight: bolder;
    padding: 1.25rem 3.125rem;
}

.flip-card-back-custom h2 {
    padding-top: 1.875rem;
}

/* Additional CSS */

h1,
h2,
h3,
h4 {
    font-family: 'Julius', sans-serif;
    margin: 0;
}

p {
    font-family: 'Julius', sans-serif;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: none;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #146404;
    color: #52cadf;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #2f74be;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #0b7bf3;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.scale {
    width: 75%;
}

.btn-signup-custom,
.btn-edit-custom {
    background-color: #188181;
    color: #fefdfc;
}

.btn-signup-custom:hover,
.btn-signup-custom:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #5a55b7;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #0b7bf3;
    text-decoration: underline;
}

.btn-like {
    color: #2c0ad7;
    border: none;
    background: transparent;
}

.btn-delete-custom {
    color: #65e143;
    background: #38b10c;
}

.btn-like:hover,
.btn-like:active {
    color: #06f6de;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(113, 208, 101);
}

.approval {
    color: rgb(13, 229, 103);
}

/* Media Queries */
@media screen and (max-width: 992px) {

    /* Styles for screens smaller than 992px */
    .flip-card-custom {
        width: 16rem;
        height: 16rem;
    }
}

@media screen and (max-width: 768px) {

    /* Styles for screens smaller than 768px */
    .flip-card-custom {
        width: 14rem;
        height: 14rem;
    }
}

@media screen and (max-width: 576px) {

    /* Styles for screens smaller than 576px */
    .flip-card-custom {
        width: 12rem;
        height: 12rem;
    }
}