body {
    background-color: dodgerblue;
}

/* Flexbox structure to handle flip-card positioning */
.level1-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* Adjust the gap between flip cards */
}

.flip-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Set dimensions and perspective for flip cards */
.flip-card {
    background-color: transparent;
    width: 20rem;
    height: 20rem;
    perspective: 1000px;
    margin-bottom: 20px;
    /* Adjust the margin between flip cards */
}

/* Container for front and back sides of flip card */
.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Flip the card horizontally on hover */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Front and back sides of the flip card */
.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Styling for the front side (fallback if image is missing) */
.flip-card-front {
    background-color: var(--offwhite);
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styling for the back side of the flip cards */
.flip-card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.flip-card-back p {
    text-align: left;
    font-size: large;
    font-weight: bolder;
    padding: 1.25rem 3.125rem;
}

.flip-card-back h3 {
    padding-top: 1.875rem;
}